{% extends "indabax_app/base.html" %}
{% block content %}
<h2>About IndabaX Kabale AI Club</h2>
<p>
    The IndabaX Kabale AI Club is a vibrant, student-driven community dedicated to the advancement of Machine Learning and Artificial Intelligence. 
    It serves as a central hub for discussions, learning, and collaborative project work in AI-related topics across various disciplines, with the ultimate goal of strengthening ML/AI in the community
</p>

<h3>Our Purpose and Objectives</h3>
<p>
    The primary purpose of the club is to foster a strong community for individuals passionate about discussing, learning, and working on Machine Learning and Artificial Intelligence
    To achieve this, the club is committed to several key objectives:
</p>
<ul>
    <li>
        Host Engaging Activities:
        Organizing regular meetings that feature discussions on current AI events, insightful talks by professors, practical tutorials, and hands-on workshops
    </li>
    <li>
        Promote Collaborative Projects
         Encouraging members to form teams for project work in ML and AI, including participation in programming competitions and online courses. 
        Progress from these collaborations is shared during club meetings
    </li>
    <li>
        Career Guidance
         Providing valuable guidance to students who are aspiring to pursue careers in ML/AI. 
         The club aims to maintain a dedicated website page with information on campus resources related to ML/AI, including relevant courses and research opportunities
    </li>
    <li>
        Capacity Building
        Collaborating with partners to offer free access to computing resources, research grants, certifications, and free passes to workshops and conferences for interested members
    </li>
    <li>
        Foster Research and Innovation
         Supporting scientific research, writing, and innovation among members through technical workshops and mentorship programs
    </li>
    <li>
        Cultivate AI Culture
        Actively encouraging and guiding university management on integrating AI courses into the curriculum to build an AI-friendly environment
    </li>
    <li>
        Access to Online Courses
        Providing members with free passes to online self-paced study courses on partner platforms, such as the Nvidia Deep Learning Institute
    </li>
    <li>
        Prepare for Competitions
        Preparing members for various competitions, including hackathons, where they can compete with other clubs from different universities in Uganda and across the Deep Learning Indaba community in Africa
    </li>
</ul>

<h3>Affiliations and Contact</h3>
<p>
    The IndabaX Uganda AI Club maintains a significant relationship with Deep Learning IndabaX Uganda
</p>
<p>
    For inquiries, you can reach us via email at: indabaxkabale@gmail.com
</p>
<p>
    Our official websites include:
    <ul>
        <li><a href="http://googleusercontent.com/www.deeplearningindaba.com" target="_blank">www.deeplearningindaba.com</a> </li>
        <li><a href="http://googleusercontent.com/www.deeplearningindabaxug.com" target="_blank">www.deeplearningindabaxug.com</a> </li>
        <li><a href="http://googleusercontent.com/indabaxug.github.io" target="_blank">indabaxug.github.io</a> </li>
    </ul>
</p>

{% endblock %}